.credentials-form-wrapper {
    border: 1px solid green;
    width: 80%;
    height: 350px;
}

.credentials-form__title {}

.form-subtitle {}

.credentials-form-container {}

.credentials-form__col-container {}

.credentials-form__row-container {}

.credentials-form__item {}

.credentials-form__button {}