.credentials-form__title {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.125rem;
    font-family: "OpenSans", "Verdana", "Arial", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}

.form-subtitle {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.35rem;
    font-family: "OpenSans", "Verdana", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;
    padding: 0 0 20px 20px;
}

.credentials-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.credentials-form__row-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.credentials-form__item {
    font-family: "OpenSans", "Verdana", "Arial", sans-serif;
    /* border: 1px solid green; */
    padding: 20px;
    width: 50%;
}

.credentials-form__item--datepicker {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.credentials-form__button {
    /* border: 1px solid red; */
}

.button-submit-container {
    padding: 24px 0 24px 20px;
}

.MuiTextField {
    font-size: 20px;
}

@media (max-width: 900px) {
    .form-subtitle {
        padding: 0 0 20px 0px;
    }
    .credentials-form__row-container {
        flex-direction: column;
    }
    .credentials-form__item {
        width: 100%;
        padding: 20px 0;
    }
}