.redirect-credentials-box__title {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.125rem;
    font-family: "OpenSans", "Verdana", "Arial", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}

.redirect-credentials-box__subtitle {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.35rem;
    font-family: "OpenSans", "Verdana", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;
    text-align: center;
}

.redirect-credentials-box__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
}

@media (max-width: 900px) {
    .redirect-credentials-box__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        min-height: 100px;
        max-height: 150px;
        width: 80%;
        padding: 30px 0 30px 0;
    }
}