.main-page-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-page-form {
    /* border: 1px solid red; */
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 10;
}

@media (max-width: 600px) {
    .main-page-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 0;
        top: 10px;
    }
}